*,
*::after,
*::before{
padding: 0;
margin: 0;
border: 0;
/* box-sixing: border box */
}

h1{
    /* background-color: #743b3b; */
    /* background-color: rgb(122, 122, 122); */
    /* background-color: rgb(15, 122, 201, 0, 1) */
    background-color: yellow;
    /* width: 800px;
    height: 150px; */
    padding: 25px;
    border: 5px solid red;
    margin: 50px;
}

.textRed{
    color: red;
    /* border: 5px solid blue; */
    /* padding: 5px; */
    /* display: block; */
}

.wraper{
    max-width: 924px;
    outline: 1px solid blue;
    margin: 50px auto;
    padding: 15px;
}